.forecast {
  margin-top: 30px;
  text-align: center;
}
.icon-forecast {
  height: 60px;
  width: 60px;
}
.forecast-day {
  background-color: rgb(255, 239, 188, 0.3);
  border-radius: 10px;
  padding-bottom: 10px;
}

.weather-forecast-day {
  color: white;
  opacity: 0.8;
  padding-top: 20px;
}

.weather-forecast-temperature-min {
  font-size: 13px;
  color: #b5736c;
}

.weather-forecast-temperature-max {
  font-size: 13px;
  color: white;
}
@media (max-width: 600px) {
  .forecast-day {
    margin-bottom: 10px;
  }
  .weather-forecast-day{
    padding-top: 5px;
  }
}
